
#define BASE   0
#define GAME 1
#define SYM    2
#define FUN 3
#define NAV    4


#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; 
    };

/ {
    combos {
        compatible = "zmk,combos";
		
COMBO(grave,&kp GRAVE,00 01,BASE GAME SYM,40, 100)
COMBO(esc,    &kp ESC,    10 11, BASE GAME,40, 100)
COMBO(lpar,   &kp LPAR,   12 13, BASE GAME,40, 100)
COMBO(rpar,   &kp RPAR,   16 17, BASE GAME,40, 100)
COMBO(lbkt,   &kp LBKT,   11 12, BASE GAME,40, 100)
COMBO(rbkt,   &kp RBKT,   17 18, BASE GAME,40, 100)
COMBO(del,    &kp DEL,    16 18, BASE GAME SYM,40, 100)
COMBO(sqt,    &kp SQT,    18 19, BASE GAME SYM,40, 100)

COMBO(capswd, &caps_word, 13 16, BASE,      60, 100)
    };
};





/ {
    keymap {
        compatible = "zmk,keymap";


		 default_layer {
            bindings = <
                &kp Q,             &kp W,             &kp E,             	&kp R,             		&kp T,            	&kp Y,            	&kp U,             	&kp I,            	&kp O,             	&kp P,             \
				&kp A,     		   &mt LALT S,     &mt LGUI D,    	&kp F,    				&kp G,            	&kp H,             	&kp J,    		 	&mt RGUI K,     	&mt RALT L,     	&lt NAV SEMI),  \
				&mt LALT Z,	   &mt RALT X,     &kp C,    			&kp V,   				&kp B,             	&kp N,             	&kp M,             	&kp COMMA,         	&kp DOT,   		   	&kp SLASH,\
				&none,              &none,              &lt FUN TAB,	 	&lt SYM SPACE,  	&sk LSHFT,   		&kp ENTER,  				&kp BSPC, 	&tog GAME,  		&none,             	&none

            >;
        };
		
		game_layer {
            bindings = <
                &kp Q,          &kp W,          &kp E,             	&kp R,             		&kp T,             	&kp Y,            	&kp U,            	&kp I,          &kp O,            	&kp P,             \
				&kp A,     		&kp S,     		&kp D,    	 		&kp F,    				&kp G,             	&kp H,            	&kp J,    			&kp K,    		&kp L,     			&kp SEMI,   \
				&kp Z, 			&kp X, 			&kp C,				&kp V,     				&kp B,             	&kp N,             	&kp M,             	&kp COMMA,      &kp DOT,   			&kp SLASH,\
				&none,           &none,           &lt FUN TAB,	&lt SYM SPACE,  	&sk LSHFT,  &kp ENTER,  		&kp BSPC, 	&tog GAME,  	&none,           &none
            >;
        };
		
		 sym_layer {
            bindings = <
                &kp N1,             &kp N2,            	&kp N3,             &kp N4,         &kp N5,         &kp N6,         &kp N7,      	&kp N8,    	&kp N9,         &kp N0,             \
				&kp GRAVE,     	&kp TILDE,     		&kp HASH,    		&kp EQUAL,    	&kp PRCNT,      &kp CARET,      &kp MINUS,    	&kp STAR, 	&kp PIPE, 		&kp SQT,   \
				&kp EXCL,	   		&kp AT,     		&kp PLUS, 			&kp DLLR,  		&kp COLON,      &kp UNDER, 		&kp AMPS,		&kp LT,		&kp GT,			&kp BSLH,    \
				&none,              	&none,             	&kp TAB,   			&kp SPACE,  	&sk LSHFT,    	&none,  			&kp BSPC, 		&none, 		&none,           &none
            >;
        };

		 nav_layer {
            bindings = <
                &none,		&none,		&none,		&none,		&none, 			&none,		&kp PG_UP,	&kp HOME,	&kp END,	&none,	\
				&none,			&none,				&kp PG_DN,			&none,		&none,			&kp LEFT,	&kp UP,		&kp DOWN,	&kp RIGHT,	&none,	\
				&none,			&none,				&none,				&none,		&none,	&none,		&none,		&none,		&none,		&none,	\
				&none,			&none,				&none,				&none,		&none,			&none,		&none,		&none,		&none,		&none
            >;
        };
		
		 fun_layer {
            bindings = <
                &kp PRSCN,		&kp F1,		&kp F2,		&kp F3,		&kp F4, 	&none,		&none,		&none,		&none,		&none,	\
				&none,			&kp F5,		&kp F6,		&kp F7,		&kp F8,		&none,		&none,		&none,		&none,		&none,	\
				&none,			&kp F9,		&kp F10,	&kp F11,	&kp F12,	&none,		&none,		&none,		&none,		&none,	\
				&none,			&none,		&none,		&none,		&none,		&none,		&none,		&none,		&none,		&none
            >;
        };

	};
};

